In [1]:
print(10)

10

In [3]:
print('python')

python

In [1]:
n='Hi, Im Abhitha'
n

'Hi, Im Abhitha'

In [7]:
print(10,10.5,'naresh IT',True)

10 10.5 naresh IT True

In [9]:
n1=10
n2=20
print(n1)
print(n2)

10
20

In [11]:
print(10,20,30)
print(10,20)
print(10)

10 20 30
10 20
10

In [13]:
print(10),print(20)

10
20

(None, None)

**Format method**

In [18]:
a=100
b=200
c=a+b
print("the addition of",a,"and",b,"is",c)

the addition of 100 and 200 is 300

In [30]:
n1='python'
n2=20
n3='hyd'
print("My name is {}, Im {} years old, Im fron {}". format(n1,n2,n3))

My name is python, Im 20 years old, Im fron hyd

In [36]:
emp_name='abhitha'
emp_role='data scientist'
emp_company='cognizant'
print("Im {}, My role is {}, Im working in {} company". format(emp_name,emp_role,emp_company))

Im abhitha, My role is data scientist, Im working in cognizant company

**f string method**

In [41]:
a=100
b=200
c=a+b
print(f"The addition of {a} and {b} is {c}")

The addition of 100 and 200 is 300

In [43]:
n1='python'
n2='20'
n3='city'
print(f"Im {n1},Im {n2} years old, Im from {n3}")

Im python,Im 20 years old, Im from city

In [9]:
num1=100
num2=200
average=(num1+num2)/2
print(f"The average of {num1} and {num2} is {average}".format(num1,num2,average))

The average of 100 and 200 is 150.0

In [28]:
#radius of the circle
#take the pi value=3.14
#find the area of the circle = pi*r*r
radius=10
pi_value=3.14
area=pi_value*radius*radius
print("The area of the circle is:{}".format(area))
print(f"The area of the circle is:{area}")

The area of the circle is:314.0
The area of the circle is:314.0

In [26]:
#take the breadth(base) of the triangle
#take the height of the triangle
#area of the triangle-1/2*base*height
base=10
height=20
area=1/2*base*height
print("The area of the triangle is {}".format(area))
print(f"The area of the triangle is: {area}")

The area of the triangle is 100.0
The area of the triangle is: 100.0

In [42]:
#take the bill amount
#take the tip percentage
#calculate tip amount
#calculate the total bill  10/100*(1000)
#print the total bill
bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=tip_amount+bill_amount
print(f"The total bill is:{total_bill}")

The total bill is:1100.0

**End Operator**

- combining multiple statements in a single line

In [45]:
print(10,end=' ')
print(20)

10 20

In [52]:
print(10,end=' ')
print(20,end=' ' )
print(30)

10 20 30

**separator operator**

- separate the multiple values in a single print statement

In [57]:
print(10,20,30,sep='&')

10&20&30

In [59]:
print(10,20,30,sep='$')

10$20$30

In [61]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [63]:
print("The addition of 5 and 3 is 8",'.')

The addition of 5 and 3 is 8 .

In [69]:
print("The addition of 5 and 3 is 8",'.',sep='')

The addition of 5 and 3 is 8..