- Representations

- type

- len

- max

- min

- sorted

- reversed

- in

- for loop using in

- index

- for loop in index

- mutable

- concatenation

- slicing

- methods

**Representations**

- strings represent with quotes

- list represent with square brackets[]

In [5]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [7]:
type(l1)

list

In [9]:
l2=['A', 'B', 'C', 'D']
l2

['A', 'B', 'C', 'D']

In [11]:
l3=[1,2,3,4,'A', 'B', 'C', 'D']
l3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [13]:
l4=[1,2,3,'Aapple','Ball','Cat',True,False]
l4

[1, 2, 3, 'Aapple', 'Ball', 'Cat', True, False]

- list can give all the data types

In [17]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [19]:
l6=['100','100','100']
l6

['100', '100', '100']

In [21]:
l7=l5+l6
l7

['naresh it', '100', '100', '100']

In [23]:
l7=[100,'Apple',['A',2]]
l7

[100, 'Apple', ['A', 2]]

In [ ]:
l1=[1,2,3,4]
l2=['A', 'B', 'C', 'D']
l3=[1,2,3,4,'A', 'B', 'C', 'D']
l4=[1,2,3,'Aapple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=['100','100','100']
l7=l5+l6
l7=[100,'Apple',['A',2]]

- Lists are array of elements

- list elements are heterogeneous all the data types we can represent in a list

- list elements are allowed duplicates

- list in list is possible

- variable assignment also possible in the list

- len

- max

- min

- sorted

- reverse

In [26]:
len(l1)

4

In [28]:
len(l2)

4

In [30]:
len(l3)

8

In [32]:
len(l4)

8

In [34]:
len(l5)

1

In [36]:
len(l6)

3

In [38]:
len(l7)

3

In [ ]:
l1=[1,2,3,4]
l2=['A', 'B', 'C', 'D']
l3=[1,2,3,4,'A', 'B', 'C', 'D']
l4=[1,2,3,'Aapple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=['100','100','100']
l7=[100,'Apple',['A',2]]

In [42]:
max(l1)

4

In [44]:
max(l2)

'D'

In [46]:
max(l3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [48]:
max(l4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [50]:
max(l5)

'naresh it'

In [52]:
max(l6)

'100'

In [54]:
max(l7)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
l1=[1,2,3,4]
l2=['A', 'B', 'C', 'D']
l3=[1,2,3,4,'A', 'B', 'C', 'D']
l4=[1,2,3,'Aapple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=['100','100','100']
l7=l5+l6
l7=[100,'Apple',['A',2]]

In [58]:
min(l1)

1

In [62]:
print(min(l2))
print(min(l3))
print(min(l4))
print(min(l5))
print(min(l6))
print(min(l7))

A

TypeError: '<' not supported between instances of 'str' and 'int'

In [66]:
min(l7)

TypeError: '<' not supported between instances of 'str' and 'int'

In [68]:
print(sorted(l1))
print(sorted(l2))
print(sorted(l3))
print(sorted(l4))
print(sorted(l5))
print(sorted(l6))
print(sorted(l7))

[1, 2, 3, 4]
['A', 'B', 'C', 'D']

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l1=[1,2,3,4]
l2=['A', 'B', 'C', 'D']
l3=[1,2,3,4,'A', 'B', 'C', 'D']
l4=[1,2,3,'Aapple','Ball','Cat',True,False]
name='naresh it'
l5=[name]
l6=['100','100','100']
l7=[100,'Apple',['A',2]]

In [104]:
print(list(reversed(l1)))
print(list(reversed(l2)))
print(list(reversed(l3)))
print(list(reversed(l4)))
print(list(reversed(l5)))
print(list(reversed(l6)))
print(list(reversed(l7)))

[4, 3, 2, 1]
['D', 'C', 'B', 'A']
['D', 'C', 'B', 'A', 4, 3, 2, 1]
[False, True, 'Cat', 'Ball', 'Aapple', 3, 2, 1]
['naresh it']
['100', '100', '100']
[['A', 2], 'Apple', 100]

In [106]:
name=['adithya','aadithya','banu']
max(name)
# first compare all first letters
# if all first letters ascii values same
# then compare with  second letters
# continue the process

'banu'

In [110]:
list1=['Apple',1,['Cherry','Banana']]
len(list1)

3

In [ ]:
list1=[65,'A']
max(list1) #error

# same data type only comparable

**Index**

In [117]:
l4=[1,2,3,'Aapple','Ball','Cat',True,False]
l4[-1:]
l4[-8:]

# -8 -7 -6    -5   -4    -3    -2   -1
#  1  2  3  Apple  Ball  Cat  True  False
#  0  1  2    3     4     5    6     7

[1, 2, 3, 'Aapple', 'Ball', 'Cat', True, False]

In [ ]:
l1=[1,[2]]
new=l1[1]   # [2] will come again it is a list, one element
new[0]

l1[1][0]

In [119]:
l2=[1,[2,'A']]
l2[1][1]

# 'A' is represented at index 1
#  so we given l1[1]:[2,'A'] it is also a list
#  The list has two elements
#  'A' at 1st index
# L1[1][1]

'A'

In [123]:
l1=[1,[2,['A','B']]]
l1[1][1][1]

'B'

In [129]:
l1[1][1]

['A', 'B']

In [159]:
l2=[1,2,[3,[4,[5,['Apple']]]]]
len(l2)

3

In [163]:
l2[2][1][1][1]

['Apple']

In [169]:
l3=['Apple',1,'solapur',['cherry','papaya',70,[123,'banana'],'tomato'],'python']
len(l3)

5

In [181]:
l3[3][3][1]

'banana'

In [183]:
list1=[[[[[[[1,'cherry']]]]]]]
len(list1)

1

In [191]:
list1[0][0][0][0][0][0][1]

'cherry'

In [193]:
l4=['MH',
    ['Nagpur',['orange',['likes',['king'],['shivaji',['son',['shmbaji']]]]]
    ]]
len(l4)

2

In [207]:
l4[1][1][1][2][1][1]

['shmbaji']

In [ ]:
assignment

# in operator: for loop
# index
# mutability check
# slicing
tomorrow list methods

In [15]:
list1=[1,2,3,'A','B','C']
for i in list1:
    print(i)

1
2
3
A
B
C

In [43]:
#Index
list2=['Apple','Bat','Cat',1,2,3]
print(list2.index(3))

5

In [51]:
# mutability check
l2=[1,2,3,4,5]
l2[3]=3
print(l2)

[1, 2, 3, 3, 5]

In [53]:
l3=['Apple','Ball',1,2,3]
l3[4]='Abhitha'
print(l3)

['Apple', 'Ball', 1, 2, 'Abhitha']

In [61]:
# slicing
list3=[1,2,3,'A','B','C']
list3[1:5]

[2, 3, 'A', 'B']

In [95]:
list4=[1,2,3,4,'Apple',[2,3,['Ball',8,9]]]
list4[5][2][2]

9

**List Methods**

In [4]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Append**

- Adding elements in a list at last index

- append method is very very imporatant

- most of the time we will use append in the real time process

- when you add the value the original list will be overwrite

In [8]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [ ]:
# you want to add doll in a given list

# keywords vs methods
len()
max()
min()
reversed()
sorted()

# methods
<package>.<method>()

In [25]:
l.append('doll')

In [27]:
l

['Apple', 'Ball', 'Cat', 5, 5, 'doll', 'doll']

In [35]:
l1=[1,2,3,4]
l1.append(10)
l1

[1, 2, 3, 4, 10]

In [37]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 20, 'apple', ['A', 1], True]

In [17]:
l3=[]
l3.append('dont')
l3.append('eat')
l3.append('unhealthy')
l3.append(['foods,drinks,junk'])
l3.append('these,foods')
l3.append('spoil,our, health')
l3

['dont',
 'eat',
 'unhealthy',
 ['foods,drinks,junk'],
 'these,foods',
 'spoil,our, health']

**Append method used to save the output in a list**

In [49]:
square_list=[]
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [57]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25]

In [62]:
s=''
for i in 'python':
    s=s+i
s

'python'

In [70]:
#str='hai hai hai'
# what are index of 'a'
# save that index numbers in a list
str='hai hai hai'
id_list=[]
for i in range(len(str)):
    if str[i]=='a':
        id_list.append(i)

id_list,sum(id_list)

([1, 5, 9], 15)

In [ ]:
#Q2) L1=['hyd','chennai','banglore']
# ans=['mumabi','chennai']
# we want elements which are len of element>4

#Q3) L1=['hyd','Mum#bai','chen#nai','banglore']
# ans=['mum#bai','chen#nai']
# we want elements which are having '#'

#Q4) L1=['hyd','mumbai','chennai','banglore']
# ans=['mumabi','chennai']
# we want elements which are len of element>4

In [5]:
#Q2) L1=['hyd','chennai','mumbai','blr']
# ans=['mumabi','chennai']
# we want elements which are len of element>4
L1=['hyd','chennai','mumbai','blr']
ans=[]
for i in L1:
    if len(i)>4:
     ans.append(i)
ans

['chennai', 'mumbai']

In [11]:
#Q3) L1=['hyd','Mum#bai','chen#nai','banglore']
# ans=['mum#bai','chen#nai']
# we want elements which are having '#'
L1=['hyd','Mum#bai','chen#nai','banglore']
ans=[]
for i in L1:
    if'#' in i:
        ans.append(i)
ans

['Mum#bai', 'chen#nai']

In [ ]:
 L1=['hyd','Mum#bai','chen#nai','banglore']
for i in L1:
    for i in '#'

In [ ]:
'nadeem' in '#'   # naddem is available in '#'
'#' in 'naddem'   # is '# ' available in nadeem
'nad##m' in '#'   # is nad##m avaibalne in '#'
'#' in 'nad##m'   # is '#' available in 'nad##m'

In [ ]:
# Q4)l1=['hyd','mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai','Chennai','Blr']
#  we want lements which are len of element >4

In [15]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
#  ans= ['Hyd','Mumbai']
#  we want lements which are having first letter capital
l1=['Hyd','Mumbai','chennai','blr']
ans=[]
for i in l1:
    ans.append(i.title())
ans
# difference between capitalize and title

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [17]:
str1='hello im learning python'
# make everyword caitalize
str1.title()

'Hello Im Learning Python'

In [ ]:
# do the same using capitalize method
# step-1: split the string
# step-2: take empty list
# step-3: iterate the ecah letter appky capitalize and append it
# step-4: join the list
str='hello im learning python'
s1=[]
for i in

In [ ]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are having '#'

In [ ]:
# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

In [ ]:
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append

In [ ]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

In [ ]:
# 10 )
#  You have two lists
# qns=['What is capital of India',
       'Who is PM of india',
        'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi
#      marks= marks+1
# print the total marks
Completed Assignment
Nallagoni Omkar p

**split-join**

- split will apply for strings, to divide the words or characters

- when we split the elements will be stored in a list format

- join is used to combine the elements of a list in a string format

- **split for strings**

- **join for list**

In [26]:
# do the same using capitalize method
# step-1: split the string
# step-2: take empty list
# step-3: iterate the ecah letter appky capitalize and append it
# step-4: join the list
str='hello im learning python'
words=str.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
new_words

['Hello', 'Im', 'Learning', 'Python']

In [30]:
# here we are joining the above output
str='hello im learning python'
words=str.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
' '.join(new_words)  # we can use this line in the above code

'Hello  Im  Learning  Python'

In [48]:
# calculate the distance betwwen two points
# a=[1,2]
# b=[4,5]
# a=[x1,x2]
# step-1: x2-x1
#s tep-2: y2-y1
import math
a=[1,2]
b=[1,5]
v1=b[0]-a[0]
v2=b[1]-a[1]
v11=v1**2
v22=v2**2
new=math.sqrt(v11+v22)
print(new)

3.0

In [70]:
# calculate the distance between val[2,3] to each and every point 
#and find the maximum distance
points=[[1,2],[2,3],[3,4]]
val=[2,3]
for i in points:
    v1=(val[0]-i[0])
    v2=(val[1]-i[1])
    v11=v1**2
    v22=v2**2
    new=math.sqrt(v11+v22)
print(new)

1.4142135623730951

In [64]:
    v2=(val[0]-val[1])
    v2

-1

In [ ]:
points=[[1,2],[2,3],[3,4]]
val=[2,3]
for i in points:
    print(i[0],i[1])
    print(val[0],val[i])
    v1=(val[0]-i[0])
    v2=(val[1]-i[1])
    print(
    v11=v1**2
    v22=v2**2
    new=math.sqrt(v11+v22)
print(new)

In [7]:
# 10 )
#  You have two lists
# qns=['What is capital of India',
       #'Who is PM of india',
        #'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']

# For i in qns:
#     print(i)
#     ans= delhi
#      index should match
#      delhi  modi
#      marks= marks+1
# print the total marks
qns=['What is capital of India',
       'Who is PM of india',
        'Who is ICT ODI captian']
ans = ['Delhi','Modi','Rohit']
marks=0
for i in range(len(qns)):
    anss=input(qns[i])
    if anss.lower()==ans[i].lower():
        marks=marks+1  #marks=+1 best practice
       
print("total marks are:", marks)

What is capital of India delhi
Who is PM of india mdoi
Who is ICT ODI captian rohit

total marks are: 2

In [15]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [ ]:
# append vs extend vs concatenation vs insert
# pop vs remove
# reverse vs reversed
# sort vs sorted
# index
# count
# clear and copy

In [19]:
# clear
l1=[1,2,3,4]
l2=['a','b','c']
l1.clear()
print(l1)
print(l2)

[]
['a', 'b', 'c']

In [35]:
#copy
l1=[1,2,3,4]
l2=['a','b','c']
l3=l2.copy()
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4]
['a', 'b', 'c']
['a', 'b', 'c']

In [67]:
l1=[1,2,3,4,5,6,7]
l2=l1.copy()
l1

[1, 2, 3, 4, 5, 6, 7]

In [69]:
#clear
l1.clear()
l1

[]

In [71]:
l2

[1, 2, 3, 4, 5, 6, 7]

In [75]:
print(type([]))

<class 'list'>

**append-extend-concatenation-insert**

In [78]:
l1=[1,2,3,4]
l2=['a','b','c']
l1.append(l2)
print(l1)
print(l2)

[1, 2, 3, 4, ['a', 'b', 'c']]
['a', 'b', 'c']

In [82]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [84]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [86]:
l1=[1,2,3,4]
l2=['A','B','C','D']
print(l1+l2)
print(l2+l1)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]
[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [90]:
l1=[1,2,3,4]
l1.extend('apple')
l1

[1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e']

In [92]:
l1=[1,2,3,4]
l1.extend(10,20,30)
l1

TypeError: list.extend() takes exactly one argument (3 given)

- append just append the value with base data type

- extend is concatenate the value, and the list will be overwrite with new values

- extend can take any iterable format type i.e. strings,list,tuple

- extend and concatenation both are same

- the list will not overwrite in concatenation

**Index**

  - index is same like string only

In [106]:
l1=[1,2,3,4,54,67,8,7,43,'Apple',40,'Apple']
l1.index(2)
i1=l1.index('Apple')
i2=l1.index('Apple', i1+1)
i1,i2

(9, 11)

- case-1: Directly get the index

- case-2: next value index, by providing start value

- case-3: Between the values

In [80]:
l1+l2

[1, 2, 3, 4, ['a', 'b', 'c'], 'a', 'b', 'c']

In [39]:
#count
l1=[1,2,3,4]
l2=['a','b','c']
l1.count(l2)
print(l1)

[1, 2, 3, 4]

In [41]:
#extend
l1=[1,2,3,4]
l2=['a','b','c']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['a', 'b', 'c', 1, 2, 3, 4]

In [1]:
#index
l1=[1,2,3,4]
l2=['a','b','c']
l2.index(1)
print(index[i])

ValueError: 1 is not in list

In [63]:
#insert
l1=[1,2,3,4]
l2=['a','b','c']
l2.index(1)
print(l1)

ValueError: 1 is not in list

**Insert**

In [3]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
il=l1.index('Apple') # apple index = 3
l1.insert(il,'Banana') # insert banana before index il(3)
l1

[1, 2, 3, 'Banana', 'Apple', 10, 20, 'Apple', 40]

In [5]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
# insert 'cherry' before 40
# you need to find index of the 40
il=l1.index(40)
l1.insert(il,'cherry') 
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple', 'cherry', 40]

In [39]:
# if we wnat to add cherry before 2nd apple then how?
l1=[1,2,3,'Apple', 10,20,'Apple',40]
# step-1: we wnat to find the index of 2nd 'Apple'
# step-2: how to find the second 'Apple' index
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.insert(6,'cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'cherry', 'Apple', 40]

In [ ]:
'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

**pop-remove-del**

- pop will remove the item

- pop also display the item which is removig

- pop will take one arguments: index

- pop will remove the item based on index

- if you dont provide any index, by default it will remove last value

- because the default index value is -1

In [71]:
# we are concentrating oly on first apple
l1=[1,2,3,'Apple',10,20,'Apple',40]
il=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [73]:
# we are concentrating on second apple
l1=[1,2,3,'Apple',10,20,'Apple',40]
il=l1.index('Apple')
i2=l1.index('Apple',il+1)
l1.pop(i2)
l1

[1, 2, 3, 'Apple', 10, 20, 40]

In [85]:
# here we are concentrating on two apples
l1=[1,2,3,'Apple',10,20,'Apple',40]
il=l1.index('Apple')
l1.pop(i1)  # o/p: [1,2,3,10,20,'Apple',40]
################################################
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 40]

In [119]:
str='hai apple how are you im good apple thank you apple'
# o/p: 'hai how are you im good thank you'
# step-1: split
# iterate it
# pop it
# join it
l1=str.split()
count=l1.count('apple')
for i in range(count):
    i1=l1.index('apple')
    l1.pop(i1)
' '.join(l1)

'hai how are you im good thank you'

- pop will take the index

- remove will take the value

- remove will delete the first occurence of elements

In [122]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
l1.remove('Apple')
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [124]:
str='hai apple how are you im good apple thank you apple'
l1=str.split()
count=l1.count('apple')
for i in range(count):
    l1.remove('apple')
' '.join(l1)

'hai how are you im good thank you'

**del**

- del is a keyword

In [128]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
del(l1[3])
l1

[1, 2, 3, 10, 20, 'Apple', 40]

- append/extend/insert/concatenation

- pop/remove/del

- sort/sorted

- reverse/reversed

- count and index

In [131]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']